:root {
--color-primary: #6935F8;
--color-primary-dark: #000000;
--colour-secondary-light: #ffffff;
--font-primary: "roboto", sans-serif;
--font-secondary: "roboto-mono", monospace;
}

a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

}

a:hover {
  text-decoration: none;
  text-transform: uppercase;
}

cite {
  font-style: italic;
}

.errorpage {
  height: 100%;
  display: block;
}

.errortext {
  color: var(--color-primary);
  font-family: "roboto", sans-serif;
}

.heretag, h1, h2, .para {
  color: var(--color-primary);
}
.heretag:hover {
  color: var(--color-secondary);

}
.headertwo, .headerone, .para, .imglink, p, h1 {
  font-family: "roboto", sans-serif;
}
