:root {
--color-primary: #5A55E8;
--color-primary-dark: #000000;
--color-primary-light: #FFFFFF;
--color-accent: #E05FFF;
--color-accent-secondary: #3AE3EA;

--font-primary:"paralucent", sans-serif;
--font-secondary: "roboto mono", sans-serif;
}

html {
  font-family: var(--font-primary:"paralucent", sans-serif);
}

a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

}

a:hover {
  color: #3AE3EA;
  text-decoration: none;
  font-style: italic;
  text-transform: uppercase;
}

cite {
  font-style: italic;
}
