:root {
--color-primary: #FF3C3C;
--color-primary-dark: #000000;
--color-primary-light: #FFFAF7;
--color-secondary: #6935F8;
--colour-secondary-light: #ffffff;
--font-primary: "roboto", sans-serif;
--font-secondary: "utopia-std", serif;
}

html {
  font-family: var(--font-primary:"paralucent", sans-serif);
}

a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

}

a:hover {
  text-decoration: none;
  text-transform: uppercase;
}

cite {
  font-style: italic;
}

.imglink {
  font-family: "roboto mono", sans-serif;
}

.subhead {
  font-weight: 400;
}

.errorpage {
  background-color: var(--color-secondary);
  color: white;
  height: 100%;
}

.errortext {
  color: var(--color-primary);
}

.heretag {
  color: white;
  font-family:  "roboto mono", sans-serif;
}
