:root {
--color-primary: #FF3C3C;
--color-primary-dark: #000000;
--color-primary-light: #F2E7E7;
--color-secondary: #6935F8;
--colour-secondary-light: #ffffff;
--font-primary: "roboto", sans-serif;
--font-secondary: "roboto-mono", monospace;
}

a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

}

a:hover {
  text-decoration: none;
  text-transform: uppercase;
}

cite {
  font-style: italic;
}

.subhead {
  font-weight: 400;
}

.errorpage {
  height: 100%;
  display: block;
}

.errortext {
  color: var(--color-primary);
  font-family: "roboto", sans-serif;
}

.heretag, h2, .para {
  color: var(--color-primary);
}
.heretag:hover {
  color: var(--color-secondary);

}
.headertwo, .para, .imglink, p {
  font-family: "roboto", sans-serif;
}

.title {
  font-family: "roboto-mono", monospace;
}
