:root {
--color-primary: #C167D6;
--color-primary-dark: #000000;
--color-secondary: #D6C167;
--font-primary:"paralucent", sans-serif;
--font-secondary: "roboto mono", sans-serif;
}

html {
  font-family: var(--font-primary:"paralucent", sans-serif);
}

a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

}

a:hover {
  text-decoration: none;
  font-style: italic;
  text-transform: uppercase;
}

cite {
  font-style: italic;
}

h2,h3,h4 {
  color: var(--color-accent);
}

.imglink {
  font-family: "roboto mono", sans-serif;
}

.subhead {
  font-weight: 400;
}

.errorpage {
  background-color: var(--color-secondary);
  color: white;
  height: 100%;
}

.errortext {
  color: var(--color-primary);
}

.heretag {
  color: white;
  font-family:  "roboto mono", sans-serif;
}
