html {
  font-family: "paralucent", sans-serif;
}

button{
  font-family: var(--font-primary): "paralucent", sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  padding: 0;
  border: none;
  background: none;
}

.btn {
  color: var(--color-secondary);
}
