<!DOCTYPE html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="">
    <meta name="description" content="{{page.description}}">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/euv4kkx.css">
    <meta name="ICBM" content="45.41117,-75.69812">
    <meta name="geo.position" content="45.41117;-75.69812">
    <meta name="geo.region" content="ca-on">
    <meta name="geo.placename" content="ottawa">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:url" content="https://zamanivisuals.ca/">
    <!-- <meta property="og:image" content="https://zamanivisuals.ca/images/social.jpg"> -->
    <meta property="og:site_name" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:locale" content="en_CA">
  </head>
  <body>
    {% pattern navigation/navigation %}
    {{content}}
    {% pattern buttons/basic %}
    {% pattern footer/footer %}
  </body>
</html>
