.topnav {
  font-family: "roboto-mono", monospace;
  text-decoration: none;
  color: var(--color-primary-dark);
  float: right;
}

.topnav:hover {
  color: var(--color-primary);
}

ul,li {
  display: inline-block;
}

.logo {
  float: left;
  position: relative;
}
